<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Departments</title>
</head>
<body>

<h2>Add New Department</h2>
<form action="/saveDepartment" method="post" th:object="${department}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}"/><br/>

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" th:field="*{address}"/><br/>

    <input type="submit" value="Save"/>
</form>
<br>

<h1>List of Departments</h1>

<table border="1">
    <thead>
    <tr>
        <th>Department ID</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through departments and display information -->

    <tr th:each="department : ${departments}">
        <td th:text="${department.id}"></td>
        <td th:text="${department.name}"></td>
        <td th:text="${department.address}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
