<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedules</title>
</head>
<body>

<h1>Schedule Form</h1>
<form action="/saveSchedule" method="post" th:object="${schedule}">
    <label for="doctorId">Doctor ID:</label>
    <input type="text" id="doctorId" name="doctorId"><br><br>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" th:field="*{date}" ><br><br>

    <label for="startTime">Start Time:</label>
    <input type="time" id="startTime" name="startTime" th:field="*{startTime}" value="09:00"><br><br>

    <label for="endTime">End Time:</label>
    <input type="time" id="endTime" name="endTime" th:field="*{endTime}" value="17:00"><br><br>

    <button type="submit">Submit</button>
</form>

<br>
<h1>Schedules</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Doctor</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="schedule : ${schedules}">
            <td th:text="${schedule.id}"></td>
            <td th:text="${schedule.doctor.name}"></td> <!-- Assuming Doctor entity has a name field -->
            <td th:text="${schedule.date}"></td>
            <td th:text="${schedule.startTime}"></td>
            <td th:text="${schedule.endTime}"></td>
        </tr>
    </tbody>
</table>

<br>
<hr>
<br>

<table border="1">
    <thead>
    <tr>
        <th th:each="sch : ${schedules}" th:text="${sch.date}" ></th>
    </tr>
    </thead>
</table>

<table border="1">

    <tbody>
    <tr th:each="sch : ${schedules}">
        <td th:each="r : ${sch.records}" th:text="${r.dateAndTime.hour} + ' : ' + (${r.dateAndTime.minute} == 0 ? '00' : ${r.dateAndTime.minute})">
    </tr>

    </tbody>
</table>
</body>
</html>
