<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedules</title>
</head>
<body>
<h1>Schedules</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Doctor</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="schedule : ${schedule}">
            <td th:text="${schedule.id}"></td>
            <td th:text="${schedule.doctor.name}"></td> <!-- Assuming Doctor entity has a name field -->
            <td th:text="${schedule.date}"></td>
            <td th:text="${schedule.startTime}"></td>
            <td th:text="${schedule.endTime}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>
