<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedules</title>
    <style>
        .schedule-container {
            display: flex;
            flex-wrap: nowrap; /* Prevent wrapping to next line */
        }

        .schedule {
            flex: 0 0 auto; /* Allow flex items to grow or shrink */
            margin-right: 20px; /* Adjust as needed */
        }

        .record-container {
            display: flex;
            flex-direction: column;
        }

    </style>
</head>
<body>

<h2>Create New Record</h2>
<form action="/saveRecords" method="post" th:object="${record}">
    <label for="patientId">Patient ID:</label>
    <input type="text" id="patientId" name="patientId"  />
    <br/>
    <label for="scheduleId">Schedule ID:</label>
    <input type="text" id="scheduleId" name="scheduleId"  />
    <br/>
    <label for="dateAndTime">Date and Time:</label>
    <input type="datetime-local" id="dateAndTime" name="dateAndTime" th:value="*{dateAndTime}" />
    <br/>
    <button type="submit">Save Record</button>
</form>

<br>
<hr>
<br>

<select class="form-select" aria-label="Default select example" >
    <option th:each="sch :${schedules}" th:text="${sch.date}" th:value="${sch.date}"></option>

    <input type="number" name="" id="hour" min="9" max="17">

    <input type="number" name="" id="minute" min="0" max="45" step="15">
</select>
<br>
<hr>
<br>

<div class="schedule-container">
    <div class="schedule" th:each="sch : ${schedules}">
        <h3 th:text="${sch.date}"></h3>
        <hr>
        <div class="record-container">
            <h4 th:each="r : ${sch.records}" th:text="${r.dateAndTime.hour} + ' : ' + (${r.dateAndTime.minute} == 0 ? '00' : ${r.dateAndTime.minute})"></h4>
        </div>
    </div>
</div>


</body>
</html>
